<main>
  <section class="section section-shaped section-lg img-fluid"
    style="background: url('./assets/img/theme/bg7.png') ; background-size: cover; height: 100vh;">
    <div class="shape shape-style-1 bg-gradient-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="card bg-secondary shadow border-0 py-lg-3">
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <small class="h4">Registrar Servidor</small>
              </div>
              <br />
              <form role="form">
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input class="form-control" placeholder="IP" type="text" name="ip" [(ngModel)]="server.ip">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-laptop"></i></span>
                    </div>
                    <input class="form-control" placeholder="DNS" type="text" name="dns" [(ngModel)]="server.dns">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-money-coins"></i></span>
                    </div>
                    <input class="form-control" placeholder="Precio" type="text" name="price"
                      [(ngModel)]="server.price">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-box-2"></i></span>
                    </div>
                    <input class="form-control" placeholder="Capacidad" type="text" name="capacity"
                      [(ngModel)]="server.capacity">
                  </div>
                </div>
                <div class="text-center">
                  <button type="button" class="btn btn-primary mt-4" (click)="create()"
                    *ngIf="!server.id else elseBlock">Crear Servidor</button>

                  <ng-template #elseBlock>
                    <button type="button" class="btn btn-primary mt-4" (click)="update()">Actualizar
                      Servidor</button>
                  </ng-template>
                </div>


              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>