<main>
  <section class="section section-shaped section-lg img-fluid"
    style="background: url('./assets/img/theme/bg7.png') ; background-size: cover; height: 100vh;">

    <div class="shape shape-style-1 bg-gradient-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="card bg-secondary shadow border-0">
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <small class="h4">Inicia Sesión</small>
              </div>
              <form role="form" (ngSubmit)="Auth()">
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input class="form-control" placeholder="Username" type="text" id="username" name="username"
                      [(ngModel)]="jwtRequest.username">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input class="form-control" placeholder="Password" type="password" name="password" id="password"
                      [(ngModel)]="jwtRequest.password">
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary my-4">Sign in</button>
                </div>
              </form>
              <a [routerLink]="['/register']" class="">
                <div class="text-center">
                  Si no tienes cuenta Registrate aquí
                </div>
              </a>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col-6">
              <a href="javascript:void(0)" class="text-light">
                <small></small>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>